/* Restrictions meta box */
.cmb2-id--gamipress-restrict-content-restrictions .postbox .cmb-nested.cmb-field-list {
    padding: .5rem 0;
}

.cmb2-id--gamipress-restrict-content-restrictions .postbox .cmb-row {
    display: inline-block;
    padding: 0;
    border-bottom: none !important;
}

.cmb2-id--gamipress-restrict-content-restrictions .postbox .cmb-th {
    width: 75px;
    font-weight: normal;
    padding: 0 10px 0 0;
}

.cmb2-id--gamipress-restrict-content-restrictions .postbox .cmb-td {
    float: none !important;
    width: auto !important;
}

.cmb2-id--gamipress-restrict-content-restrictions .cmb-group-name {
    padding-left: 0 !important;
}

.cmb2-id--gamipress-restrict-content-restrictions .cmb2-metabox-description {
    color: #222;
    display: inline-block;
    padding: 0 !important;
}

.cmb2-id--gamipress-restrict-content-restrictions .cmb-row.cmb-group-description  {
    border-bottom: 0;
}

.cmb2-id--gamipress-restrict-content-restrictions select {
    margin-top: 0;
    vertical-align: baseline;
}

.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-type,
.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-label {
    width: 100%;
}

.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-points,
.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-achievement-type,
.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-rank-type {
    width: 32%;
}

.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-points input {
    width: 280px;
}

.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-count input {
    max-width: 60px;
}

.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-achievement-type select,
.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-rank-type select {
    min-width: 280px;
}

.cmb2-id--gamipress-restrict-content-restrictions .gamipress-restrict-content-label input {
    width: calc( 100% - 90px );
}

.cmb2-id--gamipress-restrict-content-restrictions .cmb-row.cmb-remove-field-row {
    display: none !important;
}

/* Restrictions on lists */
.gamipress-restrict-content-restriction i:last-child {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 10px;
    border-radius: 50%;

    margin-left: -10px;
    margin-bottom: -3px;

    vertical-align: bottom;

    color: #fff;
}

.gamipress-restrict-content-restriction .dashicons-yes {
    background: #3c763d;
}

.gamipress-restrict-content-restriction .dashicons-no {
    background: #a00;
}

.gamipress-restrict-content-restriction + div {
    margin-top: 6px;
}

.gamipress-restrict-content-redirect-details,
.gamipress-restrict-content-content-details {
    font-size: smaller;
    line-height: 1;
}